FIN_AI_AUDITOR_ENV=dev
FIN_AI_AUDITOR_HOST=127.0.0.1
FIN_AI_AUDITOR_PORT=8088
FIN_AI_AUDITOR_STORAGE_DIR=./data
FIN_AI_AUDITOR_DATABASE_PATH=./data/fin_ai_auditor.db
FIN_AI_AUDITOR_METAMODEL_DUMP_PATH=./data/metamodel/current_dump.json
FIN_AI_AUDITOR_CORS_ORIGINS=["http://127.0.0.1:5174","http://localhost:5174"]
FIN_AI_AUDITOR_DEFAULT_FINAI_LOCAL_REPO_PATH=/Users/martinwaelter/GitHub/FIN-AI
FIN_AI_AUDITOR_DEFAULT_FINAI_GITHUB_REPO_URL=https://github.com/FINIUS-GmbH/FIN-AI.git
FIN_AI_AUDITOR_DEFAULT_FINAI_GITHUB_REF=main
FIN_AI_AUDITOR_FIXED_CONFLUENCE_SPACE_KEY=FINAI
FIN_AI_AUDITOR_FIXED_JIRA_PROJECT_KEY=FINAI
FIN_AI_AUDITOR_CONFLUENCE_HOME_URL=https://finius.atlassian.net/wiki/home
FIN_AI_AUDITOR_JIRA_BOARD_URL=https://finius.atlassian.net/jira/software/projects/FINAI/boards/67
FIN_AI_AUDITOR_EXTERNAL_RESOURCE_ACCESS_MODE=read_only
FIN_AI_AUDITOR_EXTERNAL_WRITE_REQUIRES_USER_DECISION=true
FIN_AI_AUDITOR_LOCAL_DATABASE_IS_ONLY_WRITABLE_STORE=true

FIN_AI_AUDITOR_GITHUB_TOKEN=
FIN_AI_AUDITOR_ATLASSIAN_ENABLED=true
FIN_AI_AUDITOR_ATLASSIAN_OAUTH_CLIENT_ID=
FIN_AI_AUDITOR_ATLASSIAN_OAUTH_CLIENT_SECRET=
FIN_AI_AUDITOR_ATLASSIAN_OAUTH_REDIRECT_URI=http://localhost:8088/api/ingestion/atlassian/auth/callback
FIN_AI_AUDITOR_ATLASSIAN_OAUTH_SCOPE=read:jira-work write:jira-work read:jira-user read:confluence-content.summary read:confluence-content.all readonly:content.attachment:confluence
FIN_AI_AUDITOR_CONFLUENCE_BASE_URL=
FIN_AI_AUDITOR_CONFLUENCE_CLIENT_ID=
FIN_AI_AUDITOR_CONFLUENCE_CLIENT_SECRET=
FIN_AI_AUDITOR_JIRA_BASE_URL=
FIN_AI_AUDITOR_JIRA_CLIENT_ID=
FIN_AI_AUDITOR_JIRA_CLIENT_SECRET=
FIN_AI_AUDITOR_MOTHERSHIP_URL=
FIN_AI_AUDITOR_LICENSE_KEY=
FIN_AI_AUDITOR_LICENSE_TENANT=
FIN_AI_AUDITOR_METAMODEL_BASE_URL=
FIN_AI_AUDITOR_METAMODEL_TOKEN=

FINAI_META_SOURCE=
FINAI_META_MODEL_URI=
FINAI_META_MODEL_USERNAME=
FINAI_META_MODEL_PASSWORD=
FINAI_META_MODEL_DATABASE=

FINAI_LLM_1_DISPLAYNAME=
FINAI_LLM_1_PROVIDER=
FINAI_LLM_1_ENDPOINT=
FINAI_LLM_1_API_KEY=
FINAI_LLM_1_API_VERSION=
FINAI_LLM_1_DEPLOYMENT=
FINAI_LLM_1_MODEL=

FINAI_LLM_2_DISPLAYNAME=
FINAI_LLM_2_PROVIDER=
FINAI_LLM_2_ENDPOINT=
FINAI_LLM_2_API_KEY=
FINAI_LLM_2_API_VERSION=
FINAI_LLM_2_DEPLOYMENT=
FINAI_LLM_2_MODEL=

FINAI_LLM_3_DISPLAYNAME=
FINAI_LLM_3_PROVIDER=
FINAI_LLM_3_ENDPOINT=
FINAI_LLM_3_API_KEY=
FINAI_LLM_3_API_VERSION=
FINAI_LLM_3_DEPLOYMENT=
FINAI_LLM_3_MODEL=

FINAI_LLM_4_DISPLAYNAME=
FINAI_LLM_4_PROVIDER=
FINAI_LLM_4_ENDPOINT=
FINAI_LLM_4_API_KEY=
FINAI_LLM_4_API_VERSION=
FINAI_LLM_4_DEPLOYMENT=
FINAI_LLM_4_MODEL=
